{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>BlogTrip</title>
    </head>
    <body>
        <div id="top">
            <div class="top1">
                <a href="/"><img class="logo" src="{% static 'imagens/blog.png' %}"></a>
            </div>
            <div class="top2">
                <h2>Tornando suas trips em momentos inesquecíveis!</h2>
            </div>
        </div>
        <div id="corpo">
            <div class="conteudo_pagina">
                <br>
                <h1>7 Dicas para acampar</h1>
                <h3>1 – FAÇA UM CHECK-LIST</h3>
                <p>O primeiro passo para um acampamento sem dor de cabeça é garantir que nenhum item importante seja esquecido,
                    para isso é importante fazer uma lista de tudo que seja importante e se certificar que todos tenham sido colocados na mochila.
                      Pegue um papel e monte uma lista de tudo que você precisará no acampamento, tente imaginar todos os cenários possíveis
                       e anote tudo que você precisará. Insira aqueles itens essenciais como lanterna, fogareiro e utensílios de cozinha
                       (caso queira cozinhar), roupas de calor, frio, banho (conforme o clima da região visitada); itens de higiene pessoal
                        (escova de dente, pasta, desodorante, papel higiênico etc), filtro solar, repelente, chinelo, toalha.</p>
                <br>
                <h3>2 – A BARRACA</h3>
                <p>A barraca será a tua casa durante o acampamento, então nada mais justo que dar uma atenção especial a ela.
                     O que não faltam são modelos dos mais diversos tipos e tamanhos, para escolher o tipo mais adequado é
                     necessário pensar em como será a tua viagem. Uma barraca mais pesada é melhor para viagens feitas de carro –
                     já que não será necessário leva-la nas costas – e, geralmente, tem uma montagem e desmontagem mais trabalhosa,
                      sendo indicada para estadias de média e longa duração. Os tipos Estrutural e Canadense se encaixam nesse modelo.

                     Caso você tenha que percorrer longos percursos a pé, o mais indicado é optar por uma barraca mais leve e compacta,
                      as do tipo Iglu, que costumam ser feitas em nylon ou variações deste material, são uma ótima pedida para estes casos.

                     Leve uma lona para forrar o solo e cobrir a barraca, principalmente se optar por um modelo mais simples, assim é
                     possível evitar que haja infiltração de umidade para o interior da barraca. </p>
                <br>
                <h3>3 – ESCOLHA BEM ONDE VOCÊ IRÁ ACAMPAR</h3>
                <p>Se você vai acampar pela primeira vez, dê preferência por escolher um camping com um pouco mais de estrutura (banheiros,
                    chuveiros, tomadas, churrasqueiras ou cozinhas comunitárias), escolha um camping cuja localização e/ou infraestrutura
                    condiga com suas prioridades e necessidades.

                    Depois que você já tiver acostumado a ficar em campings, pode passar procurar lugares mais afastados e sem nenhuma
                    estrutura, nesses casos é fundamental estudar bem o destino, principalmente saber qual é o clima da região para não
                     ser surpreendido pela temperatura ou pela chuva.</p>
                <br>
                <h3>4 – FAÇA O TESTE ANTES</h3>
                <p>Teste todos os equipamentos em casa, veja se eles estão completos e se estão funcionando. Jamais deixe para aprender
                    a montar a barraca no destino. Tão importante quanto saber montar, é saber desmontar e guardar as peças no estojo,
                    também treine isso para não ficar em apuros.</p>
                <br>
                <h3>5 – ESCOLHA BEM O LOCAL DE MONTAGEM DA BARRACA</h3>
                <p>Antes de começar a montar a barraca, caminhe por todo o camping para escolher o melhor local.  Evite montar a barraca
                     em encostas, perto de rios ou lagos e áreas com uma grande densidade de árvores; perceba onde a água acumulará em
                      caso de chuva e também tenha uma atenção especial ao sono para não montar a barraca em cima de pedras ou raízes de árvores.</p>
                <br>
                <h3>6 – TENHA UM BOM EQUIPAMENTO PARA DORMIR</h3>
                <p>Garanta um bom saco de dormir ou colchonete, algumas pessoas preferem colchões infláveis, mas é importante lembrar que ocupam
                    mais espaço e nem todas as barracas são grandes o suficiente para abriga-los. Caso o acampamento seja realizado em um local frio,
                     um isolante térmico é fundamental para deitar em cima porque a maior parte da nossa temperatura corporal é perdida para o solo,
                     então o isolante térmico garantirá que você tenha uma noite quentinha.
                     Caso a sua escolha seja por um saco de dormir, saiba que cada modelo suporta uma temperatura diferente, então compre o tipo que
                      seja mais indicado para a temperatura do local onde acampará.</p>
                <br>
                <h3>7 – NUNCA DEIXE SUA BARRACA ABERTA</h3>
                <p>Sempre deixe a barraca fechada para evitar que animais ingressem para o seu interior e te piquem durante a noite, fechar com a porta
                     de tela já é o suficiente para impedir a entrada de moscas, mosquitos, formiga e até cobras. Leve também um cadeado pequeno que sirva
                     no zíper da porta para poder deixa-la trancada e evitar o furto de seus pertences. </p>
                <br>
                <a href="/"><h3>&raquo; Retornar ao Blog &laquo;</h3></a>
            </div>
        </div>
</body>
<footer>
    <div class="controda">
        <h4>O BlogTrip foi criado para ajudar a tornar a vida das pessoas que curtem trilhas e acampamentos muito mais fácil e descomplicada,
             com matérias super interssantes e várias dicas, de maneira que o leitor entenda perfeitamente. Desperte o aventureiro que habita
              em você e venha fazer parte deste grupo seleto de pessoas como você!</h4>
    </div>
    <div class="redes">
        <h4>Blog desenvolvido por: Garbriel Deolindo da Silva e Ricardo Molinari Boos. Estudantes de Python do programa Entra-21.</h4>
        <a href="https://www.linkedin.com/in/gabriel-deolindo-da-silva-856007187/" target="_blank"><img class="fotoicon" src="{% static 'imagens/gab.jpeg' %}"></a>
        <a href="https://www.linkedin.com/in/ricardoboos/" target="_blank"><img class="fotoicon" src="{% static 'imagens/ric.jpeg' %}"></a>
    </div>
    <div class="rosa">
        <img class="rv" src="{% static 'imagens/rosa.png' %}">
    </div>
</footer>
</html>