{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>BlogTrip</title>
    </head>
    <body>
        <div id="top">
            <div class="top1">
                <a href="/"><img class="logo" src="{% static 'imagens/blog.png' %}"></a>
            </div>
            <div class="top2">
                <h2>Tornando suas trips em momentos inesquecíveis!</h2>
            </div>
        </div>
        <div id="corpo">
            <div class="conteudo_pagina">
                <br>
                <h1>Trilha das cachoeiras em Corupá</h1>
                <br>
                <p>Uma trilha que ao longo de 3 quilômetros cruza por 14 cachoeiras em meio à
                    mata-atlântica é o paraíso para qualquer aventureiro. Com a média de uma
                    queda d’água a cada 210 metros, a Rota das Cachoeiras é uma trilha
                    surpreendente na cidade de Corupá, no interior de Santa Catarina. Mas se faltar
                    motivação para ir até o final, lembre-se que, por capricho da natureza, a maior cachoeira
                     é também a última do caminho. Não há desculpa para não ir até o final.</p>
                <p>A Rota das Cachoeiras é formada pelas quedas d’água em sequência que o Rio Novo faz ao descer um dos
                     morros da região. Sim, todas as 14 cachoeiras são do mesmo rio que despenca por 600 metros de altitude
                      desde o topo do morro por caminhos sinuosos em meio à mata e pedras. Mas apesar da natureza intensa e preservada,
                       a trilha é bem tranquila.</p>
                <br>
                <div class="much2">
                    <img class="m2" src="{% static 'imagens/corupa.jpg' %}">
                </div>
                <h3>A trilha da Rota das Cachoeiras</h3>
                <p>Ainda no estacionamento é possível ouvir o som da água correndo no rio e basta caminhar cerca de 100 metros para
                    conhecer a origem daquele turbilhão. A primeira cachoeira se chama Suspiro e fica a apenas alguns metros da trilha,
                     encharcando tudo com respingos e umidade. Bastou abrir os braços para se refrescar do calor. </p>
                <p>Logo depois desse ponto a trilha segue por uma ponte pênsil, que cruza o rio e entra na mata. Todo o percurso é muito
                     bem sinalizado com placas de indicação, o nome da cachoeira e se o banho é permitido. Em diversos trechos da trilha
                      há pontes pequenas de madeira sobre riachos ou escadas com corrimão para apoio.</p>
                <p>As três primeiras cachoeiras são muito bonitas e surpreendem: Suspiro, Banheira e Três Patamares. Essa última realmente
                    impressiona pela sequência de quedas d’água e força da correnteza. Sem dúvida é uma das mais bonita da reserva.</p>
                <p>A Rota das Cachoeiras segue morro acima e nenhuma – até a 12ª cachoeira – impressiona tanto quanto as três primeiras.
                     Nesse trecho, o destaque fica por conta da cachoeira Corredeiras, a 9ª do percurso. Entretanto, a frustração é a
                     corredeiras Confluência I e Confluência II, que você se pergunta se realmente deveria contar para a lista.</p>
                <p> 12º cachoeira é umas das maiores e, na minha opinião, a mais bonita da Rota das Cachoeiras. Com grande volume,
                ela tem duas quedas da água e é possível vê-la bem de frente, pois nesse ponto cruzamos novamente o rio. A força da
                água desloca o ar úmido e cheio de gotículas em direção à ponte, o que torna o piso de madeira escorregadio. De fato
                a queda d’água impressiona e o nome não podia ser outro: Surpresa. </p>
                <p>A cachoeira do Boqueirão é 13ª da trilha, mas para acessá-la é preciso fazer alguns metros por uma outra pequena
                    trilha. A queda d’água é bonita e corre em um paredão em meio às árvores. Você não chega muito perto dela
                    como das demais, mas a vista é bonita.</p>
                <p>Por fim, a Salto Grande – a 14ª, última e maior cachoeira da trilha. É realmente incrível que depois de 13
                    cachoeiras na mesma trilha, a última seja a maior de todas. A queda da água começa no topo do morro e despenca
                    por 125 metros. O local é como uma cavidade no morro, em formato de “U”, com a cachoeira no fundo. Ao redor, os
                    paredões úmidos ficam completamente esverdeados pelos musgos.</p>
                    <br>
                <a href="/"><h3>&raquo; Retornar ao Blog &laquo;</h3></a>
            </div>
        </div>
</body>
<footer>
    <div class="controda">
        <h4>O BlogTrip foi criado para ajudar a tornar a vida das pessoas que curtem trilhas e acampamentos muito mais fácil e descomplicada,
             com matérias super interssantes e várias dicas, de maneira que o leitor entenda perfeitamente. Desperte o aventureiro que habita
              em você e venha fazer parte deste grupo seleto de pessoas como você!</h4>
    </div>
    <div class="redes">
        <h4>Blog desenvolvido por: Garbriel Deolindo da Silva e Ricardo Molinari Boos. Estudantes de Python do programa Entra-21.</h4>
        <a href="https://www.linkedin.com/in/gabriel-deolindo-da-silva-856007187/" target="_blank"><img class="fotoicon" src="{% static 'imagens/gab.jpeg' %}"></a>
        <a href="https://www.linkedin.com/in/ricardoboos/" target="_blank"><img class="fotoicon" src="{% static 'imagens/ric.jpeg' %}"></a>
    </div>
    <div class="rosa">
        <img class="rv" src="{% static 'imagens/rosa.png' %}">
    </div>
</footer>
</html>