{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>BlogTrip</title>
    </head>
    <body>
        <div id="top">
            <div class="top1">
                <a href="/"><img class="logo" src="{% static 'imagens/blog.png' %}"></a>
            </div>
            <div class="top2">
                <h2>Tornando suas trips em momentos inesquecíveis!</h2>
            </div>
        </div>
        <div id="corpo">
            <div class="conteudo_pagina">
                <br>
                <h1>Kit básico de cozinha</h1>
                <br>
                <p>Se você for cozinhar, vai precisar de alguns utensílios para auxiliar no preparo de refeições.
                     Panela de alumínio, prato, copo, garfo, faca, colher, são alguns dos exemplos que podem ser
                     necessários em um camping. Lembre-se de levar somente o indispensável. Uma dica é levar utensílios
                      de plásticos versáteis, como por exemplo um copo dobrável, pois ocupa menos espaço.</p>
                <br>
                <div class="much2">
                    <img class="m2" src="{% static 'imagens/m2.jpg' %}">
                </div>
                <h3>Caixa térmica</h3>
                <p>Para manter as bebidas ou alimentos em uma temperatura fria, uma caixa térmica é essencial
                    nesta questão. Já que nos acampamentos dificilmente vão ter geladeiras ou refrigeradores à
                    disposição. Uma dica é colocar além do gelo tradicional, colocar placa de gelo artificial
                    para ajudar a manter uma temperatura adequada por mais tempo.</p>
                <br>
                <h3>Saco impermeável e saco de lixo</h3>
                <p>Uma opção para guardar as roupas molhadas ou proteger algo que não possa molhar é usar o saco impermeável.
                     Dependendo do local que irá acampar, pode ser necessário algumas unidades para organizar seus itens
                      durante a aventura. O saco de lixo é para o descarte consciente do seu lixo, e assim manter a natureza preservada.</p>
                <br>
                <h3>Fogareiro e/ou pederneira</h3>
                <p>Para cozinhar ou ferver água, um fogareiro é uma ótima alternativa, principalmente pelo fato de ser mais prático
                    e seguro, evitando riscos ao meio ambiente e aos usuários. Caso o local for em clima mais frio, a fogueira
                    pode ser usada, com a devida responsabilidade. Para isso, investir em uma pederneira é uma forma de conseguir fogo prático e rápido.</p>
                <br>
                <h3>Alimentos e bebidas</h3>
                <p>É essencial nos alimentarmos e hidratarmos adequadamente todos os dias. Para isso, não se esqueça
                     de levar comida, água e bebidas isotônicas em quantidade suficiente para te nutrir.</p>
                <p>De prioridade para os alimentos que não estraguem facilmente ou que não precisem de refrigeração,
                     como barras de cereais e proteínas, macarrão, arroz, torradas, pão, atum e sardinha enlatadas,
                     frutas, legumes que não precisam de cozinhar, oleaginosas, café instantâneo, leite em pó, entre outros.
                     Assim, você evita que os alimentos possam causar uma intoxicação alimentar, por exemplo.</p>
                <p>Certifique-se que o local terá água potável, ou leve água mineral suficiente para os dias de camping.
                     Um filtro de água portátil é uma opção caso não tenha uma fonte de água confiável no local.
                     Pode ser interessante optar também por bebidas isotônicas, sucos, água de coco e chás, para ajudar
                     na hidratação de forma eficiente. E por fim, sempre de preferência por alimentos e bebidas saudáveis e leves para uma nutrição adequada.</p>
                    <br>
                <a href="/"><h3>&raquo; Retornar ao Blog &laquo;</h3></a>
            </div>
        </div>

</body>
<footer>
    <div class="controda">
        <h4>O BlogTrip foi criado para ajudar a tornar a vida das pessoas que curtem trilhas e acampamentos muito mais fácil e descomplicada,
             com matérias super interssantes e várias dicas, de maneira que o leitor entenda perfeitamente. Desperte o aventureiro que habita
              em você e venha fazer parte deste grupo seleto de pessoas como você!</h4>
    </div>
    <div class="redes">
        <h4>Blog desenvolvido por: Garbriel Deolindo da Silva e Ricardo Molinari Boos. Estudantes de Python do programa Entra-21.</h4>
        <a href="https://www.linkedin.com/in/gabriel-deolindo-da-silva-856007187/" target="_blank"><img class="fotoicon" src="{% static 'imagens/gab.jpeg' %}"></a>
        <a href="https://www.linkedin.com/in/ricardoboos/" target="_blank"><img class="fotoicon" src="{% static 'imagens/ric.jpeg' %}"></a>
    </div>
    <div class="rosa">
        <img class="rv" src="{% static 'imagens/rosa.png' %}">
    </div>
</footer>
</html>