{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>BlogTrip</title>
    </head>
    <body>
        <div id="top">
            <div class="top1">
                <a href="/"><img class="logo" src="{% static 'imagens/blog.png' %}"></a>
            </div>
            <div class="top2">
                <h2>Tornando suas trips em momentos inesquecíveis!</h2>
            </div>
        </div>
        <div id="corpo">
            <div class="conteudo_pagina">
                <br>
                <h1>Como organizar sua mochila de acampamento</h1>
                <br>
                <p>Sempre que aparece a oportunidade de se aventurar em um acampamento, a primeira coisa que vem à cabeça é:
                     E agora, o que levar? E principalmente, como organizar tudo dentro de uma mochila? Então antes de começar
                      a colocar seus equipamentos, acessórios e roupas, é preciso compreender a logística do ambiente e quais
                      os equipamentos fundamentais para sua aventura.

                    E para esclarecer todas as dúvidas que aparecem na hora de arrumar sua mochila, nós da Lazer e Aventura,
                    vamos compartilhar com você algumas dicas de como organizar sua mochila de forma inteligente, garantindo
                    mais leveza, praticidade e conforto na hora de carrega-la.</p>
                <br>
                <h3>Organizando sua mochila</h3>
                <div class="much">
                    <img class="m1" src="{% static 'imagens/mchla.png' %}">
                </div>
                <p>Ao começar a arrumar a mochila, é preciso fazer para si algumas perguntas: Quanto tempo pretendo ficar?
                     Minha aventura envolve uma caminhada leve, média ou pesada? Quanto de peso eu consigo carregar? Qual
                      a mochila adequada para minha aventura? Assim que você responder essas perguntas, a organização começa a fluir.</p>
                <br>
                <p>Ao fundo da mochila é indicado colocar o saco de dormir, a barraca, roupas sujas, e até mesmo a lona. As costas da mochila,
                     é ideal para distribuir itens maiores como panelas, um livro, alimentos rígidos e equipamentos que precisem ficar seguros
                      contra a umidade. Para a parte da frente, pode ser colocado roupas, toalhas e acessórios que ao longo do percurso podem
                      sofrer impactos. Existem compartimentos superiores na mochila que podem ser colocados alimentos para um lanche rápido
                       e apetrechos como óculos e luvas. Já as laterais da mochila, acomodam perfeitamente utensílios pequenos, cantil e garrafas de água.</p>
                <br>
                <p>Uma boa mochila não pode conter espaços e sim deve preenche-los, para que o peso seja equivalente a todos os lados.
                     Lembrando que é importante deixar tudo dentro da mochila e não pendurado. Isolantes térmicos por exemplo,
                     podem ser dobrados em zig-zag e guardados dentro da bolsa, ao invés de presos pelo lado de fora.</p>
                <br>
                <p>Para preencher os espaços vazios é indicado colocar roupas que podem ser amassadas,
                     entre as roupas deve-se levar o essencial. Escolha tecidos leves e de composições versáteis.</p>
                <br>
                <p>Por último e mais importe, pesquise muito bem antes de comprar sua mochila,
                     o mercado oferece uma grande variedade de opções, teste alguns modelos na loja,
                      com algum peso dentro, atente-se a qualidade dos materiais e tecidos.</p>
                <br>
                <a href="/"><h3>&raquo; Retornar ao Blog &laquo;</h3></a>
            </div>
        </div>
</body>
<footer>
    <div class="controda">
        <h4>O BlogTrip foi criado para ajudar a tornar a vida das pessoas que curtem trilhas e acampamentos muito mais fácil e descomplicada,
             com matérias super interssantes e várias dicas, de maneira que o leitor entenda perfeitamente. Desperte o aventureiro que habita
              em você e venha fazer parte deste grupo seleto de pessoas como você!</h4>
    </div>
    <div class="redes">
        <h4>Blog desenvolvido por: Garbriel Deolindo da Silva e Ricardo Molinari Boos. Estudantes de Python do programa Entra-21.</h4>
        <a href="https://www.linkedin.com/in/gabriel-deolindo-da-silva-856007187/" target="_blank"><img class="fotoicon" src="{% static 'imagens/gab.jpeg' %}"></a>
        <a href="https://www.linkedin.com/in/ricardoboos/" target="_blank"><img class="fotoicon" src="{% static 'imagens/ric.jpeg' %}"></a>
    </div>
    <div class="rosa">
        <img class="rv" src="{% static 'imagens/rosa.png' %}">
    </div>
</footer>
</html>