<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlogTrip</title>
</head>
<body>
<div id="corpo">
            <div class="conteudo_pagina">
                <br>
                <h1>{{Postagem.titulo}}</h1>
                <br>
                <div class="much2">
                    <img class="m2" src="{% static 'imagens/m2.jpg' %}">
                </div>
                <p>{{Postagem.conteudo}}</p>
                <br>
                <a href="/"><h3>&raquo; Retornar ao Blog &laquo;</h3></a>
            </div>
        </div>
</body>
</html>