{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>BlogTrip</title>
    </head>
    <body>
        <div id="top">
            <div class="top1">
                <a href="/"><img class="logo" src="{% static 'imagens/blog.png' %}"></a>
            </div>
            <div class="top2">
                <h2>Tornando suas trips em momentos inesquecíveis!</h2>
            </div>
        </div>
        <div id="corpo">
            <div class="conteudo_pagina">
                <br>
                <h1>Conheça o Pico paraná</h1>
                <br>
                <p>Se você está em busca de uma boa aventura e adora praticar ecoturismo, certamente vai amar conhecer
                    o Pico Paraná. Essa atração natural é a montanha mais alta do Sul do Brasil e possui paisagens lindas.
                     Além disso, garante um contato único com a natureza. Animou para visitar? Confira a seguir o guia e
                     prepare-se para incríveis descobertas! </p>
                <br>
                <div class="much2">
                    <img class="m2" src="{% static 'imagens/pico2.jpg' %}">
                </div>
                <p>O Pico Paraná é a montanha mais alta da região Sul do Brasil e está localizada entre as cidades de
                    Campina Grande do Sul e Antonina, no estado do Paraná. A atração faz parte do Parque Estadual Pico
                     do Paraná e também da Serra do Ibitiraquire. </p>
                <p>Para chegar ao destino, a melhor forma é iniciar a aventura partindo da Fazenda Pico Paraná,
                    localizada em Campina Grande do Sul. Para isso, basta seguir pela BR-116 sentido Curitiba – São Paulo.
                     Depois, é preciso seguir as placas indicativas até a propriedade. Se preferir, você também pode ir
                      de ônibus, a empresa responsável por esse trajeto é a Princesa dos Campos. </p>
                <br>
                <h3>A Trilha do Pico Paraná e suas belezas naturais </h3>
                <p>O Pico Paraná é um dos destinos mais apreciados pelos aventureiros que
                    visitam o Sul do país. Então, se você pretende se juntar a esse grupo de viajantes,
                     deve ficar por dentro de mais detalhes sobre o local. A seguir confira mais informações sobre a trilha que leva à atração:</p>
                <h3>1. Características da trilha </h3>
                <p>O Pico Paraná possui 1877 metros de altitude, por isso o seu acesso exige bastante condicionamento
                    físico e disposição. A trilha que leva ao atrativo possui cerca de 6 a 8 horas de duração e é de dificuldade
                     alta. Embora o trajeto seja sinalizado, é indispensável a companhia de um guia para o passeio. Vale lembrar
                     que antes de chegar ao cume da montanha é preciso praticar escalada. </p>
                <h3>2. Natureza local</h3>
                <p>Se a trilha que leva ao Pico Paraná tem alto grau de dificuldade, a natureza da região recompensa
                    os visitantes. No Parque que abriga o atrativo, é possível avistar muitas belezas naturais e
                    encontrar animais silvestres. Durante o trajeto você pode avistar árvores raras, uma variedade de
                    pássaros, pequenos macacos e felinos. Sem dúvida, há muitas descobertas te esperando durante o programa. </p>
                <h3>3. Nascer do sol </h3>
                <p>Além de fauna e flora exuberantes, o Pico Paraná também proporciona paisagens únicas aos viajantes.
                     O nascer do sol no local é a ocasião preferida de muitos aventureiros e rende sempre ótimos registros.
                      Vale lembrar, que para admirar esse momento é preciso acampar na região e iniciar a trilha supercedo. </p>
                <h3>4. Camping - Lago da Fazenda Pico Paraná</h3>
                <p>Existem muitos atrativos no pico paraná, inclindo Camping, Lagos e entre outros, faça uma viagem e descubra tudo
                    o que o pico pode lhe proporcionar.
                </p>
                <br>
                <a href="/"><h3>&raquo; Retornar ao Blog &laquo;</h3></a>
            </div>
        </div>
</body>
<footer>
    <div class="controda">
        <h4>O BlogTrip foi criado para ajudar a tornar a vida das pessoas que curtem trilhas e acampamentos muito mais fácil e descomplicada,
             com matérias super interssantes e várias dicas, de maneira que o leitor entenda perfeitamente. Desperte o aventureiro que habita
              em você e venha fazer parte deste grupo seleto de pessoas como você!</h4>
    </div>
    <div class="redes">
        <h4>Blog desenvolvido por: Garbriel Deolindo da Silva e Ricardo Molinari Boos. Estudantes de Python do programa Entra-21.</h4>
        <a href="https://www.linkedin.com/in/gabriel-deolindo-da-silva-856007187/" target="_blank"><img class="fotoicon" src="{% static 'imagens/gab.jpeg' %}"></a>
        <a href="https://www.linkedin.com/in/ricardoboos/" target="_blank"><img class="fotoicon" src="{% static 'imagens/ric.jpeg' %}"></a>
    </div>
    <div class="rosa">
        <img class="rv" src="{% static 'imagens/rosa.png' %}">
    </div>
</footer>
</html>